
<launch>
  <arg name="world" default="$(find maze)/world/Maze/model.world" />

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
   <!-- more default parameters can be changed here -->
  </include>
</launch>